/*
// --------------------------------------------
// --------------------------------------------
//
// Variable
//
// --------------------------------------------
// --------------------------------------------
*/
:root {
  --elevation-shadow-1: 0 2px 3px rgba(0, 0, 0, 0.25),
      0 0 4px rgba(0, 0, 0, 0.2);
  --elevation-shadow-2: 0 4px 8px rgba(0, 0, 0, 0.3),
      0 0 8px rgba(0, 0, 0, 0.2);
  --elevation-shadow-3: 0 16px 32px rgba(0, 0, 0, 0.3),
      0 0 64px rgba(0, 0, 0, 0.2);

  --color-action: #2563eb;
  --color-fg-action: #2563eb;
  --color-fg-contrast: #2a373e;
  --color-fg-dim: #747575;

  --fill-surface-base: hsl(33.3, 60%, 97.1%);
  --fill-surface-raised: rgba(0, 0, 0, 0.05);
  --fill-surface-recessed: rgba(0, 0, 0, 0.08);
}




/*
// --------------------------------------------
// --------------------------------------------
//
// Global Style
//
// --------------------------------------------
// --------------------------------------------
*/

body {
  /* background: hsl(33.3, 60%, 97.1%); */
  background-color: var(--fill-surface-base);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Aptos, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgb(43, 55, 62);
}

.link {
  color: var(--color-fg-action);
  text-underline-offset: 0.08em;
  text-decoration-thickness: 0.085em;
  text-decoration-color: currentColor;
  transition: all 0.25s ease-in-out;
  font-weight: 500;

  &:hover {
    text-decoration-thickness: 0.15em;
  }
}

.link--text {
  --color-fg-action: var(--color-fg-contrast);
}


/*
// --------------------------------------------
// --------------------------------------------
//
// Reset
// Josh Comeau CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/
//
// --------------------------------------------
// --------------------------------------------
*/


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}


