/*
// --------------------------------------------
// --------------------------------------------
//
// Variable
//
// --------------------------------------------
// --------------------------------------------
*/
:root {
  --elevation-shadow-1: 0 2px 3px rgba(0, 0, 0, 0.25),
      0 0 4px rgba(0, 0, 0, 0.2);
  --elevation-shadow-2: 0 4px 8px rgba(0, 0, 0, 0.3),
      0 0 8px rgba(0, 0, 0, 0.2);
  --elevation-shadow-3: 0 16px 32px rgba(0, 0, 0, 0.3),
      0 0 64px rgba(0, 0, 0, 0.2);
}




/*
// --------------------------------------------
// --------------------------------------------
//
// Global Style
//
// --------------------------------------------
// --------------------------------------------
*/

body {
  background: hsl(33.3, 60%, 97.1%);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Aptos, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgb(43, 55, 62);
}


/*
// --------------------------------------------
// --------------------------------------------
//
// Reset
// Josh Comeau CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/
//
// --------------------------------------------
// --------------------------------------------
*/


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}


