---
import "../styles/global.css";

import CalGrid from "../svg/calendar-grid.svg";

import Card from "../components/Card.astro";
import BaseNav from "../components/BaseNav.astro";
import CardHorizontal from "../components/CardHorizontal.astro";
import CardDate from "../components/CardDate.astro";
import Resizer from "../components/Resizer.astro";
import Header from "../components/Header.astro";
import Panel from "../components/Panel.astro";
import Filter from "../components/Filter.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="generator" content={Astro.generator} />
    <title>Command Center</title>
  </head>
  <body>
    <BaseNav />

    <section class="dump">
      <Header />
      <Resizer>
        <Fragment slot="pinned">
          <Card />
          <Card />
          <Card />
        </Fragment>

        <Fragment slot="recents">
          <div class="grid--vertical">
            <CardHorizontal />
            <CardHorizontal />
            <CardHorizontal />
          </div>
        </Fragment>

        <Fragment slot="aside">
          <div class="grid--vertical grid--vertical--large">
            <Panel>
              <Filter />
              <Card />
            </Panel>
            <Panel><CardDate status="risk" /></Panel>
            <Panel> <div class="cal-grid--max"><CalGrid /></div></Panel>
          </div>
        </Fragment>

        <Fragment slot="playground">
          <section class="dump">playground</section>
        </Fragment>
      </Resizer>
    </section>

    {/* ================================== */}
    {/* Style                              */}
    {/* ================================== */}
    <style is:global>
      .dump {
        padding: 4rem;

        & + & {
          margin-top: 40px;
        }

        > * + * {
          margin-top: 40px;
        }
      }

      .grid--vertical {
        display: grid;
        gap: 0.8rem;
      }

      .grid--vertical--large {
        gap: 3rem;
      }

      .cal-grid--max {
        margin-inline: auto;
        inline-size: 100%;
        max-inline-size: 400px;
        position: relative;

        &::before {
          content: "For placement only";
          position: absolute;
          top: 50%;
          left: 25%;
          font-size: 12px;
          background-color: rgba(0, 0, 0, 0.6);
          padding-inline: 2rem;
        }
      }
    </style>
  </body>
</html>
