---
import "../styles/global.css";

import CalGrid from "../svg/calendar-grid.svg";
import ActivitySvg from "../svg/activity.svg";

import Card from "../components/Card.astro";
import BaseNav from "../components/BaseNav.astro";
import CardHorizontal from "../components/CardHorizontal.astro";
import CardDate from "../components/CardDate.astro";
import Resizer from "../components/Resizer.astro";
import Header from "../components/Header.astro";
import Panel from "../components/Panel.astro";
import SectionHeader from "../components/SectionHeader.astro";
import CardFrame from "../components/CardFrame.astro";
import CardContent from "../components/CardContent.astro";
import StackContent from "../components/StackContent.astro";
import LayoutGrid from "../components/LayoutGrid.astro";
import LayoutStack from "../components/LayoutStack.astro";
import EmptyState from "../components/EmptyState.astro";
import ScheduleItems from "../components/ScheduleItems.astro";
import Assignments from "../components/Assignments.astro";
import ActivityFeed from "../components/ActivityFeed.astro";
import RecentButtons from "../components/RecentButtons.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="generator" content={Astro.generator} />
    <title>Command Center</title>
  </head>
  <body>
    <BaseNav />

    <main class="main">
      <Header title="Grant Prototype" />
      <section class="top-area">
        <LayoutGrid>
          <CardFrame isStack>
            <StackContent link="/posts/welcome" title="Welcome to Home Base" />
          </CardFrame>
          <CardFrame isPinned>
            <CardContent
              title="The Leto Locator"
              description="New software and hardware built for locating and securing Leto Products."
              overline="Leto Brand"
            />
          </CardFrame>

          <CardFrame isPinned>
            <CardContent
              title="Honcho Recruiting and Hiring"
              description="Looking for the best!"
              hasUpdates
            />
          </CardFrame>
          <CardFrame isPinned>
            <CardContent
              title="Getting Started"
              description="Quickly get up to speed with everything Basecamp"
              hasUpdates
            />
          </CardFrame>
          <CardFrame isPinned>
            <CardContent
              title="Making a Podcast"
              description="This is a sample project to showcase how we use Basecamp to create the 37signals podcast"
            />
          </CardFrame>
        </LayoutGrid>
      </section>

      <Resizer>
        <!-- <Fragment slot="pinned">
          <CardFrame>
            <CardContent />
          </CardFrame>
          <CardFrame>
            <CardContent />
          </CardFrame>
          <CardFrame>
            <CardContent />
          </CardFrame>
        </Fragment> -->

        <Fragment slot="recents">
          <!-- <div class="grid--vertical">
            <CardHorizontal />
            <CardHorizontal />
            <CardHorizontal />
          </div> -->

          <LayoutStack distance="150">
            <RecentButtons />
            <LayoutStack distance="100">
              <SectionHeader align="left" title="today" />
              <CardHorizontal title="ACAD25_038 Curry Connector Logo" />
              <CardHorizontal title="ADM25_176 FAFAS Reminder Postcard" />
              <CardHorizontal title="Campus Map Updates to be Made" />
              <CardHorizontal
                title="ADM25_179 Transfer Student Postcard Update"
              />
              <CardHorizontal title="ACAD25_007 School of Biz + Tech Banners" />
              <CardHorizontal
                title="ADM25_055 Grad Student Financial Services"
              />
            </LayoutStack>
            <LayoutStack distance="100">
              <SectionHeader align="left" title="yesterday" />
              <CardHorizontal title="What Works [ 2023 ]" />
              <CardHorizontal title="October 2023 Meet-up" />
              <CardHorizontal title="Customer Support" />
              <CardHorizontal title="All Pets" />
              <CardHorizontal title="37signals HQ" />
              <CardHorizontal title="Product" />
              <CardHorizontal title="QA" />
            </LayoutStack>
          </LayoutStack>
        </Fragment>

        <Fragment slot="aside">
          <LayoutStack distance="150">
            <EmptyState />

            <LayoutGrid type="bento">
              <Panel
                title="YouTube Channel Feed"
                description="Here's what's happening in this project"
              >
                <ActivityFeed showNeedle />
              </Panel>
              <Panel
                title="John Smith Feed"
                description="Here's a glimpse of what John is doing"
              >
                <ActivityFeed showNew />
              </Panel>

              <EmptyState
                title="Is a teammate not carrying their weight?"
                description="No one wants to micromanage, but sometimes we need to help others out. With Home Base you can keeping closer tabs and ensure they're successful."
              />

              <EmptyState
                title="The deadline is today"
                description="Every second counts when it absolutely, positively needs to be done by EOD. Home Base will help you keep track of what you need to get it out the door."
              />

              <Panel
                title="Your Assignments"
                description="Stuff due soon and recently assigned"
              >
                <Assignments />
              </Panel>
              <Panel title="Your Schedule" description="A few upcoming events">
                <LayoutStack>
                  <div class="cal-grid--max">
                    <CalGrid />
                  </div>
                  <ScheduleItems />
                </LayoutStack>
              </Panel>
            </LayoutGrid>
          </LayoutStack>
        </Fragment>
      </Resizer>
    </main>
  </body>
</html>

{/* ================================== */}
{/* Style                              */}
{/* ================================== */}
<style is:global>
  :root {
    --l-pad-block-main: 4rem;
    --l-pad-inline-main: 4rem;
  }

  .main {
    padding-block: var(--l-pad-block-main);
    padding-inline: var(--l-pad-inline-main);
    transition: all 0.2s ease-in-out;

    > * + * {
      margin-top: 40px;
    }
  }

  .grid--vertical--large {
    gap: 3rem;
  }

  .cal-grid--max {
    margin-inline: auto;
    inline-size: 100%;
    max-inline-size: 400px;
    position: relative;

    /* &::before {
      content: "For placement only";
      position: absolute;
      top: 50%;
      left: 25%;
      font-size: 12px;
      background-color: rgba(0, 0, 0, 0.6);
      padding-inline: 2rem;
    } */
  }

  .top-area {
    max-inline-size: 1088px;
    margin-inline: auto;
  }
</style>

{/* ================================== */}
{/* Javascript                         */}
{/* ================================== */}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const updateToggles = document.querySelectorAll(".js-update-toggle");

    updateToggles.forEach((toggle) => {
      // const nearestLink = toggle.closest(".js-card__link");
      // console.log(nearestLink);
      // nearestLink.preventDefault();
      toggle.addEventListener("click", () => {
        const updatesList = toggle.nextElementSibling;

        if (updatesList && updatesList.classList.contains("js-updates-list")) {
          updatesList.classList.toggle("active");
        }
      });
    });
  });
</script>
