---
import "../styles/global.css";

import Card from "../components/Card.astro";
import BaseNav from "../components/BaseNav.astro";
import CardHorizontal from "../components/CardHorizontal.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="generator" content={Astro.generator} />
    <title>Command Center</title>
  </head>
  <body>
    <BaseNav />

    <section class="dump">
      <Card />
    </section>

    <section class="dump">
      <CardHorizontal />
    </section>
  </body>
</html>

{/* ================================== */}
{/* Style                              */}
{/* ================================== */}
<style is:global>
  .dump {
    padding: 4rem;

    & + & {
      margin-top: 40px;
    }
  }
</style>
