---
import "../styles/global.css";

import AvatarStack from "./AvatarStack.astro";
import Pin from "../svg/pin.svg";
import CardUpdates from "./CardUpdates.astro";
import CardDate from "./CardDate.astro";

const {
  title = "I am a title",
  description = "I am description",
  overline = "Overline",
  ...attrs
} = Astro.props;
---

{/* ================================== */}
{/* HTML Structure                     */}
{/* ================================== */}
<div class="card__content">
  <a class="card__link js-card__link" href="#">
    <section class="card__text-content">
      <span class="card__overline">
        {overline}
      </span>

      <h2 class="card__title">
        {title}
      </h2>

      <p class="card__description">
        {description}
      </p>
    </section>

    <section class="card__people" aria-hidden="true">
      <AvatarStack number="88" />
      <CardDate />
    </section>
  </a>
  <div class="card__footer card__pad">
    <CardUpdates />
  </div>

  <div class="card__controls">
    <button class="card__pin">
      <Pin />
    </button>
  </div>
</div>

{/* ================================== */}
{/* CSS Style                          */}
{/* ================================== */}
<style is:global>
  :root {
    --color-fg-dim: #747575;
    --card-title-size-min: 1.3rem;
    --card-title-size-max: 2rem;
    --card-title-size-relative: 5cqw;
    --card-title-font-weight: 700;
    --card-color-contrast: #2a373e;
    --card-color-dim: #747575;
  }

  .card__content {
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    block-size: 100%;
    padding: 1.5rem;
    text-align: left;
    color: var(--card-color-contrast);
    line-height: 1.3;
  }
  .card__link {
    inset: 0;
    text-decoration: none;
  }

  .card__text-content {
    display: flex;
    flex-direction: column;
  }

  .card__title {
    color: var(--card-color-contrast);
    font-weight: var(--card-title-font-weight);
    letter-spacing: -0.01em;
    line-height: 1.1;
    font-size: clamp(
      var(--card-title-size-min),
      var(--card-title-size-relative),
      var(--card-title-size-max)
    );
  }

  .card__description {
    color: var(--card-color-contrast);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-block-start: 0.5em;
  }

  .card__overline {
    color: var(--card-color-dim);
    letter-spacing: 0.04em;
    margin-block-end: 0.3em;
  }

  .card__people {
    display: flex;
    justify-content: space-between;
    margin-block-start: 0.75rem;
  }
</style>
