---
import "../styles/global.css";

import Pin from "../svg/pin.svg";

import AvatarStack from "./AvatarStack.astro";
import CardDate from "./CardDate.astro";
import CardUpdates from "./CardUpdates.astro";
---

{/* ================================== */}
{/* HTML Structure                     */}
{/* ================================== */}
<article class="card">
  <div class="card__content card__pad">
    <div class="card__header">
      <span class="card__overline">OVERLINExxxx</span>
      <h2 class="card__title">Project Title</h2>
      <p class="card__description">Project description goes here</p>
    </div>

    <div class="card__controls">
      <AvatarStack number="88" />
      <button class="card__pin">
        <Pin />
      </button>
    </div>

    <div class="card__footer card__pad">
      <CardUpdates />
      <div class="date-container">
        <CardDate />
      </div>
    </div>
  </div>
</article>

{/* ================================== */}
{/* Style                              */}
{/* ================================== */}
<style is:global>
  :root {
    --card-pad-inline: 20px;
    --card-pad-block: 20px;
    --card-fill-meta: rgba(0, 0, 0, 0.04);
    --card-fill-surface: #fff;
    /* --card-color: #2a373e; */
    --card-color-dim: #747575;
    --card-fill-pin: var(--card-color-dim);
  }
  .svg-test {
    border: 1px solid green;
    width: 40px;
    height: 40px;
  }

  .card__pad {
    padding-block: var(--card-pad-block);
    padding-inline: var(--card-pad-inline);
  }

  .card {
    width: 100%;
    /* max-width: 500px; */
    background-color: var(--card-fill-surface);
    border-radius: 12px;
    box-shadow: var(--elevation-shadow-1);
    overflow: hidden;
    position: relative;
  }

  .card__content {
    /* padding: 24px; */
  }

  .card__header {
    /* margin-bottom: 20px; */
  }

  .card__overline {
    display: block;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    /* color: var(--card-color-dim); */
    /* margin-bottom: 8px; */
    letter-spacing: 0.05em;
  }

  .card__title {
    /* font-size: 16px; */
    /* font-weight: 700; */
    color: var(--card-color);
    /* color: #111827; */
    /* margin-bottom: 8px; */
  }

  .card__description {
    font-size: 14px;
    color: var(--card-color);
    /* color: #4b5563; */
    /* margin-bottom: 16px; */
  }

  .card__footer {
    --card-pad-block: 10px;

    position: relative;
    z-index: 1;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: var(--card-fill-meta);
    border-radius: 8px;
  }

  .date-container {
    /* border: 1px solid; */
    position: absolute;
    inset-inline-end: var(--card-pad-inline);
    inset-block-start: var(--card-pad-block);
    margin-block-start: 4px; /* hack to visually align date with updates. fix this */
    /* background: red; */
  }

  .card__controls {
    /* border: 1px solid green; */
    display: flex;
    gap: 30px;
    position: absolute;
    inset-inline-end: var(--card-pad-inline);
    inset-block-start: var(--card-pad-block);
  }

  .card__pin {
    color: var(--card-fill-pin);
    width: 16px;
    height: 16px;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    /* border: 1px solid green; */
    &:hover {
      color: red;
    }
  }

  /* .team-members {
    display: flex;
  } */

  /* .date {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #6b7280;
  } */

  /* .pin-icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  } */
</style>

{/* ================================== */}
{/* Javascript                         */}
{/* ================================== */}
<script>
  // document.addEventListener("DOMContentLoaded", function () {
  //   const updateToggles = document.querySelectorAll(".js-update-toggle");

  //   updateToggles.forEach((toggle) => {
  //     toggle.addEventListener("click", () => {
  //       const updatesList = toggle.nextElementSibling;

  //       if (updatesList && updatesList.classList.contains("js-updates-list")) {
  //         updatesList.classList.toggle("active");
  //       }
  //     });
  //   });
  // });
</script>
