---
import "../styles/global.css";

import Pin from "../svg/pin.svg";

import AvatarStack from "./AvatarStack.astro";
import CardDate from "./CardDate.astro";
import CardUpdates from "./CardUpdates.astro";

const { title = "My project title", hasUpdates } = Astro.props;
---

{/* ================================== */}
{/* HTML Structure                     */}
{/* ================================== */}
<article class="card card--horizontal">
  <div class="card__content card__pad">
    <div class="card__header">
      <!-- <span class="card__overline">OVERLINExxxx</span> -->
      <a href="/posts/welcome">
        <h2 class="card__title">{title}</h2>
      </a>
      <!-- <p class="card__description">Project description goes here</p> -->
    </div>

    <div class="card__controls">
      <!-- <AvatarStack number="88" /> -->
      <button class="card__pin">
        <Pin />
      </button>
    </div>

    <div class="card__footer card__pad">
      <CardUpdates />
      <div class="date-container">
        <CardDate />
      </div>
    </div>
  </div>
</article>

{/* ================================== */}
{/* Style                              */}
{/* ================================== */}
<style is:global>
  :root {
    --card-pad-inline: 20px;
    --card-pad-block: 20px;
    --card-fill-meta: rgba(0, 0, 0, 0.04);
    --card-fill-surface: #fff;
    --card-color-dim: #747575;
    --card-fill-pin: var(--card-color-dim);
  }
  .svg-test {
    border: 1px solid green;
    width: 40px;
    height: 40px;
  }

  .card__pad {
    padding-block: var(--card-pad-block);
    padding-inline: var(--card-pad-inline);
  }

  .card {
    width: 100%;
    background-color: var(--card-fill-surface);
    border-radius: var(--card-frame-radius);
    box-shadow: var(--elevation-shadow-1);
    overflow: hidden;
    position: relative;
  }

  .card--horizontal {
    --card-title-size-min: 1rem;
    --card-title-size-max: 1.5rem;
    --card-title-size-relative: 2cqw;
  }

  .card__content {
  }

  .card__header {
    a {
      text-decoration: none;
    }
  }

  .card__overline {
    display: block;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .card__title {
    color: var(--card-color);
  }

  .card__description {
    font-size: 14px;
    color: var(--card-color);
  }

  .card__footer {
    --card-pad-block: 10px;

    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: var(--card-fill-meta);
    border-radius: 8px;
  }

  .date-container {
    position: absolute;
    inset-inline-end: var(--card-pad-inline);
    inset-block-start: var(--card-pad-block);
    margin-block-start: 4px; /* hack to visually align date with updates. fix this */
  }

  .card__controls {
    display: flex;
    position: absolute;
    gap: 30px;
    inset-inline-end: var(--card-pad-inline);
    inset-block-start: var(--card-pad-block);
  }

  .card__pin {
    color: var(--card-fill-pin);
    width: 16px;
    height: 16px;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }

  /* .team-members {
    display: flex;
  } */

  /* .date {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #6b7280;
  } */

  /* .pin-icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  } */
</style>
