---
import "../styles/global.css";
const { title = "I am a title", ...attrs } = Astro.props;
---

{/* ================================== */}
{/* HTML Structure                     */}
{/* ================================== */}
<div class="l-stack">
  <slot />
</div>

{/* ================================== */}
{/* CSS Style                          */}
{/* ================================== */}
<style is:global>
  .l-stack {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
</style>

{/* ================================== */}
{/* Javascript                         */}
{/* ================================== */}
<script></script>
