---
import "../styles/global.css";
const { maxCols = "3", type = "default", ...attrs } = Astro.props;
---

{/* ================================== */}
{/* HTML Structure                     */}
{/* ================================== */}
<div class:list={["l-grid", `l-grid--${type}`]} data-max-cols={maxCols}>
  <slot />
</div>

{/* ================================== */}
{/* CSS Style                          */}
{/* ================================== */}
<style is:global>
  :root {
    --grid-gap: 12rem;
    --l-grid-gap-column: 1rem;
    --l-grid-gap-row: 1rem;
    --l-grid-min-size: 300px;
  }

  .l-grid {
    display: grid;
    row-gap: var(--l-grid-gap-row);
    column-gap: var(--l-grid-gap-column);

    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--l-grid-min-size), 1fr)
    );
    /* border: 2px solid black; */
  }

  .l-grid > * {
    /* border: 2px solid red; */
  }

  .l-grid--bento {
    --l-grid-gap-column: 1rem;
    --l-grid-gap-row: 1.75rem;
    --l-grid-min-size: 375px;
    display: grid;

    /* border: 2px solid blue; */
  }

  .test {
    /* --grid-gap: 4rem; */
    > div {
      background-color: red;
    }
  }
</style>
